<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>About Balance</h1>

        <p>
          Our features and integrations allow you to send marketing emails, automated messages, and targeted campaigns. And our detailed reports help you keep improving over time.</p>

        <h2>Our Team</h2>
        <p>
          The balance team draws on decades of experience across industries to chart a course for the future and guide the company towards its strategic goals.
        </p>

        <h2>Culture</h2>
        <p>
          Our culture is simple and focused on one goal. We help team members grow in their current roles and dream about what's next.
        </p>
  </div>
</div>
