<footer class="small text-muted">
  <div class="container">
    <hr>
    <center>
      <%= link_to "About", about_path %> |
      <%= link_to "Terms", terms_path %> |
      <%= link_to "Privacy", privacy_path %> |
      <p>&copy 2016 BALANCE</p>
    </center>
  </div>
</footer>
